* {
  box-sizing:border-box;
}
.navbar {
	font-size:16px;
}
footer {
	margin-top:40px;
}

.r5k {
	background-color: #2E2EB8;
}

.r10k {
	background-color: #009900;

}

.half {
  background-color: #8F246B;
}


.full {
	background-color: #E60000;
}