* {
	box-sizing:border-box;
}
.navbar {
	font-size:16px;
}
.fc-state-highlight {
  color:#2b3e50;
  font-weight: bold;
}
main {
	

}
#email {
	text-decoration: none;
	color: #FFFF99;
}

.orglink  a{
	text-decoration: none;
}