<h2 class="race-name"> {{race.name}} </h2>
<ul class="general">
 <li> Date: {{race.date}}</li>
 <li> Location: {{race.location}}</li>
 <li> Start Location: {{race.start}}</li>
 <li> Hosted By: {{race.organizer}}</li>
 <li> Race Website: {{race.orgLink}}</li>
 <li> Bag Check Avalible: {{race.bagCheck}}
 <li> Partipant Cap: {{race.cap}}</li>
 <li> Theme: {{race.theme}}</li>
</ul>

<ul class="spefic info">
 	<li> Dist </li>
 	<li>startTime</li>
 	<li>limit</li>
 	<li>prices</li>
 	<li>Swag</li>
 </ul>