<h2 class="race-name"> {{race.name}} </h2>
<ul class="general">
 <li> <b>Date: </b> {{race.date}}</li>
 <li> <b>Location: </b> {{race.location}}</li>
 <li> <b>Start Location: </b>{{race.start}}</li>
 <li class="orglink"> <b> Hosted By: </b> <a ng-href = "{{race.orgLink}}"> {{race.organizer}} </a></li>
 <li> <b>Bag Check Avalible?:</b> {{race.bagCheck}}
 <li> <b>Partipant Cap:</b> {{race.cap}}</li>
 <li> <b>Theme: </b>{{race.theme}}</li>
</ul>

<div ng-repeat= "race in race.races">
	<h4> {{race.distance}}  </h4 >
<ul class="details">
 	<li> <b>Start Time: </b>{{race.startTime}}</li>
 	<li> <b>Time Limit: </b>{{race.timeLimit}}</li>
 	<li> <b>Prices:</b>{{race.prices.join(", ")}}</li>
 	<li><b>Swag: </b>{{race.swag.join(", ")}}</li>
 </ul>
 </div>